body {
    font-family: inknut antiqua;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 120vh;
}

.sidebar {
    width: 250px;
    background-color: #ffc619;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar .logo {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: #34495e;
    padding-left: 10px;
}



.main-content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.header-right span {
    margin-left: 20px;
}

.dashboard {
    margin-top: 20px;
}

.dashboard-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.content {
    margin-top: 20px;
}
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}