body {
    font-family: inknut antiqua;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0%;
}

.header {
    width: 100%;
    background-color: #ffc619;
    color: white;
    padding: 100px 0;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    position: relative; /* Ensure relative positioning for absolute elements */
    overflow: hidden; /* Hide overflowing animation */
}



@keyframes wind {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

  
.social-signup {
    text-align: center;
    margin-bottom: 20px;
}

.social-btn {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-btn img {
    width: 40px;
    height: 40px;
    margin-right: 10px;

    
}

.google {
    background-color: #f4f4f44d;
}

.google:hover {
    background-color: #f4f4f44b;
}

.container {
    background-color: #D9D9D9;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffc619;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ffc619;
}
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}